<article class="acerca_de">
    <div>
        <h3 class="card-title">Acerca de mí...</h3>
        <div class="div-exp">
            <a href="#" class="btn" title="Editar"><i class="fa-solid fa-pen"></i></a>
          </div>
        <p>Soy una persona responsable,
          organizada y atenta a los detalles.
          Tengo un alto compromiso por mis
          tareas.
          Poseo muy buena adaptabilidad a
          cualquier entorno laboral y
          excelente capacidad para trabajar
          en equipo.
          Habilidad para la resolución de
          problemas, capacidad analítica y
          aptitud para la optimización de
          recursos.</p>
    </div>
</article>
