<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" *ngIf="proyec" novalidate #f="ngForm">
                <div class="formgroup">
                    <label for="titulo">Titulo</label>
                    <input type="text" name="titulo" class="form-control" [(ngModel)]="proyec.titulo" required>
                </div>
                <div class="formgroup">
                    <label for="fechaIni">Fecha de Inicio</label>
                    <input type="text" name="fechaIni" class="form-control" [(ngModel)]="proyec.fechaIni" required>
                </div>
                <div class="formgroup">
                    <label for="fechaFin">Fecha de Finalización</label>
                    <input type="text" name="fechaFin" class="form-control" [(ngModel)]="proyec.fechaFin" required>
                </div>
                <div class="formgroup">
                    <label for="descripcion">Descripción</label>
                    <textarea type="text" name="descripcion" class="form-control" [(ngModel)]="proyec.descripcion" required></textarea>
                </div>
                <div class="formgroup">
                    <label for="link">Link</label>
                    <input type="text" name="link" class="form-control" [(ngModel)]="proyec.link" required>
                </div>
                
                <button class="btn btn-primary" >Actualizar Proyecto</button>
            </form>
        </div>
    </div>
</div>