<article id="proyectos">
    <h3 class="card-title">Proyectos</h3>
    <div class="div-exp">
        <a href="#" class="btn"><i class="fa-solid fa-plus"></i></a>
      </div>
<ul class="item-list">
  <li *ngFor="let proyect of proyectList">
    <div class="proyecto">
        <h4 class="sub-1">{{proyect.title}}</h4>
        <div class="div-exp2">
            <a href="#" class="btn"><i class="fa-solid fa-pen"></i></a>
            <a href="#" class="btn"><i class="fa-regular fa-trash-can"></i></a>
          </div>
        <h5>Fecha: <time>{{proyect.start}}</time> - <time>{{proyect.end}}</time></h5>
        <p>{{proyect.detail}}</p>
    </div>
  </li>
</ul>
<span>Visita el link a <a href="https://geo-pet.000webhostapp.com/index.html" target="_blank">Geo Pet</a> para conocerlo.</span>
</article>
