<article id="experiencia">
    <h3 class="card-title">Experiencia</h3>
    <div class="div-exp">
      <a href="#" class="btn" title="Agregar"><i class="fa-solid fa-plus"></i></a>
    </div>
   <div class="exp">
       <h4 class="sub-1">Atención al cliente - Cobranzas</h4>
       <div class="div-exp2">
        <a href="#" class="btn" title="Editar"><i class="fa-solid fa-pen"></i></a>
        <a href="#" class="btn" title="Eliminar"><i class="fa-regular fa-trash-can"></i></a>
      </div>
       <h5>Empresa: Tree Oss</h5>
       <h5>Fecha: <time>Julio 2016</time> - <time>al presente</time></h5>
       <p>Me desempeño como agente de cobranzas y en el sector de atención al
         cliente. Manejo el área de logística del sector de Córdoba, además de la
         gestión del stock de productos.</p>
   </div>
   <div class="exp">
       <h4 class="sub-1">Operario - Capacitador</h4>
       <div class="div-exp2">
        <a href="#" class="btn" title="Editar"><i class="fa-solid fa-pen"></i></a>
        <a href="#" class="btn" title="Eliminar"><i class="fa-regular fa-trash-can"></i></a>
      </div>
       <h5>Empresa: Plásticos Boulevares</h5>
       <h5>Fecha: <time>Mayo 2014</time> - <time>Diciembre 2015</time></h5>
       <p>Ayudante de Operador de maquinas offset en seco.
         Tuve un excelente desempeño en el puesto, logrando optimizar tiempos
         y recursos.
         Encargado de la capacitación de nuevos ingresantes al sector.</p>
   </div>
   <div class="exp">
     <h4 class="sub-1">Operario - Serigrafista</h4>
     <div class="div-exp2">
      <a href="#" class="btn" title="Editar"><i class="fa-solid fa-pen"></i></a>
      <a href="#" class="btn" title="Eliminar"><i class="fa-regular fa-trash-can"></i></a>
    </div>
     <h5>Empresa: Cor-Plast</h5>
     <h5>Fecha: <time>Octubre 2007</time> - <time>Julio 2013</time></h5>
     <p>Inicié mis labores como operario de maquinas termosoldadoras,
       elaborando productos a partir de telas plásticas. Luego me especialicé en
       la impresión de los productos mediante la técnica de serigrafía.
       Posteriormente quedé a cargo del sector de impresión.</p>
 </div>
</article>
