<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="formgroup">
                    <label for="nombreEmpresa">Nombre de la empresa</label>
                    <input type="text" name="nombreEmpresa" class="form-control" [(ngModel)]="nombreEmpresa" required>
                </div>
                <div class="formgroup">
                    <label for="fechaIni">Fecha de Inicio</label>
                    <input type="text" name="fechaIni" class="form-control" [(ngModel)]="fechaIni" required>
                </div>
                <div class="formgroup">
                    <label for="fechaFin">Fecha de Finalización</label>
                    <input type="text" name="fechaFin" class="form-control" [(ngModel)]="fechaFin" required>
                </div>
                <div class="formgroup">
                    <label for="titulo">Cargo</label>
                    <input type="text" name="titulo" class="form-control" [(ngModel)]="titulo" required>
                </div>
                <div class="formgroup">
                    <label for="descripcion">Descripción de la tarea</label>
                    <input type="text" name="descripcion" class="form-control" [(ngModel)]="descripcion" required>
                </div>
                <button class="btn btn-primary" >Agregar Experiencia</button>
            </form>
        </div>
    </div>
</div>
