
.btn-hard{
    margin-bottom: .5rem;
    margin-left: 1rem;
}

.hab-progress{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.div-hab {
    display:inline;
    padding-left:15%;
}

.div-hab2{
    display: block;
    text-align: center;
}

.hab{
    display: inline-block;
}


.exp{
    flex-direction: column;
}

.item-list{
    padding-right: 32px;
}

.progress{
    margin-top: 4px;
}

@media screen and (max-width: 450px){
    .hab-progress{
        flex-direction: column;
       
    }

    .progress{
        width: 10rem;
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 767px){
    .hab-progress{
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .exp{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}