<article id="hard_soft">
    
    <div class="div-hab2">
      <h3 class="hab">Habilidades Hard</h3>
      <button type= "button" routerLink="/nuevaHab"  class="btn btn-hard btn-primary" *ngIf="isLogged"> Agregar</button>
    </div>
    

      <ul class="item-list">
        <li *ngFor="let Hard of hard">
         <div class="exp">
          <div class="hab-progress">
             <h5 class="sub-1">{{Hard.habilidadHard}}</h5>
             
            <div class="progress">
              <div id="barra3" class="progress-bar progress-bar-striped progress-bar-animated  animacion" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width.%]="Hard.porcentaje">{{Hard.porcentaje}}%</div>
            </div>
          </div>
            <div class="botones">
              <button type= "button" routerLink="/editHab/{{Hard.id}}"  class="btn btn-hard btn-primary" *ngIf="isLogged"> Editar</button>
              <button type= "button"  class="btn btn-hard btn-primary" *ngIf="isLogged" (click)="deleteHard(Hard.id)"> Eliminar</button>
            </div>
         </div>
        </li>
      </ul>

    
</article>
