<article id="hard_soft">
    <h3 class="card-title">Habilidades Hard and Soft</h3>
    <div class="div-exp">
      <a href="#" class="btn"><i class="fa-solid fa-pen"></i></a>
    </div>
    <h4 class="hab">Habilidades Hard</h4>
    <div id="progreso">
      <div class="progress">
        <div id="barra1" class="progress-bar progress-bar-striped progress-bar-animated inicio animacion" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 45%">45%</div>
      </div>
      <p class="info_barra2">Programación</p>
      <div class="progress">
        <div  id="barra2" class="progress-bar progress-bar-striped progress-bar-animated inicio animacion" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
      </div>
      <p class="info_barra2">Análisis de datos</p>
      <div class="progress">
        <div id="barra3" class="progress-bar progress-bar-striped progress-bar-animated  animacion" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 85%">85%</div>
      </div>
      <p class="info_barra2">Idioma Inglés</p>
      <p class="info"><span class="info_barra">Programación</span><span class="info_barra">Análisis de datos</span><span class="info_barra">Idioma Inglés</span></p>
      <h4 class="hab">Habilidades Soft</h4>
      <div class="progress">
        <div id="barra3" class="progress-bar progress-bar-striped progress-bar-animated  animacion" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 45%">45%</div>
      </div>
      <p class="info_barra2">Flexibilidad</p>
      <div class="progress" >
        <div id="barra5" class="progress-bar progress-bar-striped progress-bar-animated  animacion" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
      </div>
      <p class="info_barra2">Trabajo en equipo</p>
      <div class="progress" >
        <div id="barra6" class="progress-bar progress-bar-striped progress-bar-animated  animacion" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 85%">85%</div>
      </div>
      <p class="info_barra2">Gestión del tiempo</p>
      <p class="info"><span class="info_barra">Flexibilidad</span><span class="info_barra">Trabajo en equipo</span><span class="info_barra">Gestión del tiempo</span></p>
    </div>
</article>
